body {
      font-family: Arial, sans-serif;
      background-color: rgba(135, 151, 222, 0.664);
      text-align: center;
      padding: 20px;
    }
    .weather-card {
      max-width: 400px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: left;
    }
    .weather-card h2 {
      margin-top: 0;
    }
    .weather-card p {
      margin-bottom: 0;
    }
    .input-group {
      margin-bottom: 20px;
    }
    .input-group input[type="text"] {
      padding: 8px;
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }
    .input-group button {
      padding: 8px 20px;
      border: none;
      background-color: #007bff;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
    }
    .Box
    {
     padding: 2px 2px 1px 2px ;
     height: 60px;
     width: 60px;
     ;
    }